@font-face {
    font-family: 'Radiance Condensed';
    src: url('fonts/Radiance-RegularCondensed.eot');
    src: url('fonts/Radiance-RegularCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-RegularCondensed.woff2') format('woff2'),
        url('fonts/Radiance-RegularCondensed.woff') format('woff'),
        url('fonts/Radiance-RegularCondensed.ttf') format('truetype'),
        url('fonts/Radiance-RegularCondensed.svg#Radiance-RegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Black.eot');
    src: url('fonts/Radiance-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Black.woff2') format('woff2'),
        url('fonts/Radiance-Black.woff') format('woff'),
        url('fonts/Radiance-Black.ttf') format('truetype'),
        url('fonts/Radiance-Black.svg#Radiance-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Bold.eot');
    src: url('fonts/Radiance-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Bold.woff2') format('woff2'),
        url('fonts/Radiance-Bold.woff') format('woff'),
        url('fonts/Radiance-Bold.ttf') format('truetype'),
        url('fonts/Radiance-Bold.svg#Radiance-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Light.eot');
    src: url('fonts/Radiance-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Light.woff2') format('woff2'),
        url('fonts/Radiance-Light.woff') format('woff'),
        url('fonts/Radiance-Light.ttf') format('truetype'),
        url('fonts/Radiance-Light.svg#Radiance-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Regular.eot');
    src: url('fonts/Radiance-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Regular.woff2') format('woff2'),
        url('fonts/Radiance-Regular.woff') format('woff'),
        url('fonts/Radiance-Regular.ttf') format('truetype'),
        url('fonts/Radiance-Regular.svg#Radiance-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-UltraLight.eot');
    src: url('fonts/Radiance-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-UltraLight.woff2') format('woff2'),
        url('fonts/Radiance-UltraLight.woff') format('woff'),
        url('fonts/Radiance-UltraLight.ttf') format('truetype'),
        url('fonts/Radiance-UltraLight.svg#Radiance-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Semibold.eot');
    src: url('fonts/Radiance-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Semibold.woff2') format('woff2'),
        url('fonts/Radiance-Semibold.woff') format('woff'),
        url('fonts/Radiance-Semibold.ttf') format('truetype'),
        url('fonts/Radiance-Semibold.svg#Radiance-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Artifact Numbers';
    src: url('fonts/ArtifactNumbersBold.eot');
    src: url('fonts/ArtifactNumbersBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ArtifactNumbersBold.woff2') format('woff2'),
        url('fonts/ArtifactNumbersBold.woff') format('woff'),
        url('fonts/ArtifactNumbersBold.ttf') format('truetype'),
        url('fonts/ArtifactNumbersBold.svg#ArtifactNumbersBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
:root {
    /* Card Colors */
    --blue:  -webkit-linear-gradient(90deg,#0d3855,#205579);
    --red:   -webkit-linear-gradient(90deg,#541a27,#84293C);
    --green: -webkit-linear-gradient(90deg,#38542b,#527b3f);
    --black: -webkit-linear-gradient(90deg,#2c2733,#332d3b);
    --gold:  -webkit-linear-gradient(90deg,#907024,#AD862B); /*Item Cards*/
    --creepgray:  -webkit-linear-gradient(90deg,#4d5453,#67716f); /* Also Colorless */
    --creepblue:  -webkit-linear-gradient(90deg,#434d54,#5a6770);
    --creepred:   -webkit-linear-gradient(90deg,#544347,#705a5f);
    --creepgreen: -webkit-linear-gradient(90deg,#495443,#61705a);
    --creepblack: -webkit-linear-gradient(90deg,#4b4354,#635a70);
  }
html{
    height: 100%;
    width: 100%;
}
body{
    font-family: Radiance;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.boardbackground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;    
}
/* Main Menu */
.menu{
    cursor: url("gfx/cursor.png"), auto;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}
.M{
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 2;
}
.M.hide{
    opacity: 0;
}
.Mnewsburger{
    position: absolute;
    display: block;
    right: 0px;
    bottom: 38%;
    width: 516px;
    height: 200px;
    background: linear-gradient(to left,#231F2E,#322B3D);
    color: white;
}
.Mnewsburger:hover{
    color: #7289DA;
}
.Minnerimage{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: 160px;
    background-image: url("gfx/Discord-Logo.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.Minnerimage:hover{
    background-image: url("gfx/Discord-Logo-Color.svg");
}
.Mnewstext{
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    bottom: 0px;
    font-size: 22px;
    text-align: center;
}
.Mplayartifact{
    display: inline-block;
    background: linear-gradient(to left,#231F2E,#322B3D);
    width: 516px;
    height: 68px;
    position: fixed;
    bottom: 30%;
    right: 0%;
    text-align:left;
    line-height: 68px;
}
.Mplayartifact:hover{  
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(49, 72, 106, 0.7) 100%), linear-gradient(to left,#231F2E,#322B3D);
    text-shadow: 0px 0px 8px #4E589A,0px 0px 8px #4E589A,0px 0px 8px #4E589A,0px 0px 8px #4E589A;
}
.Mcardcollection{
    display: inline-block;
    background: linear-gradient(to left,#231F2E,#322B3D);
    width: 516px;
    height: 56px;
    position: fixed;
    bottom: 24.25%;
    right: 0%;
    text-align:left;
    line-height: 56px;
}
.Mcardcollection:hover{  
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(49, 72, 106, 0.7) 100%), linear-gradient(to left,#231F2E,#322B3D);
    text-shadow: 0px 0px 8px #4E589A;
}
.Mtext{
    color: white;
    font-size: 22px;
    padding-left: 21px;
}
.Mversion{
    position: fixed;
    display: inline-block;
    color: white;
    font-size: 16px;
    padding-right: 60px;
    bottom: 29px;
    right: 7px;
}
.Mnews{
    position: fixed;
    display: inline-block;
    top: 29px;
    right: 126px;
    width: 26px;
    height: 26px;
    opacity: 0.5;
    z-index: 2;
}
.Mnews:hover,.Mgear:hover,.Mquit:hover,.Pclose:hover,.Sclose:hover{
    opacity: 1;
}
.Mgear{
    position: fixed;
    display: inline-block;
    top: 29px;
    right: 70px;
    width: 26px;
    height: 26px;
    opacity: 0.5;
    z-index: 2;
}
.Mquit{
    position: fixed;
    display: inline-block;
    top: 29px;
    right: 14px;
    width: 26px;
    height: 26px;
    opacity: 0.5;
    z-index: 2;
}
.Mseperator{
    background-color: white;
    position: fixed;
    display: inline-block;
    top: 29px;
    right: 52px;
    width: 1px;
    height: 26px;
    opacity: 0.5;
    z-index: 2;
}
.Mseperator2{
    background-color: white;
    position: fixed;
    display: inline-block;
    top: 29px;
    right: 110px;
    width: 1px;
    height: 26px;
    opacity: 0.5;
    z-index: 2;
}
.Mlogo{
    position: fixed;
    display: inline-block;
    top: 33px;
    left: 33px;
    width: 118px;
    height: 104px;
    z-index: 2;
}
.Mlogoanimforw{
    -webkit-animation:logospin 0.5s ease-out 1;
    -moz-animation:logospin 0.5s ease-out 1;
    animation:logospin 0.5s ease-out 1;
    animation-fill-mode: forwards;
}
.Mlogoanimback{
    -webkit-animation:logospinback 0.5s ease-out 1;
    -moz-animation:logospinback 0.5s ease-out 1;
    animation:logospinback 0.5s ease-out 1;
    animation-fill-mode: forwards;
}
@-moz-keyframes logospin { 
    100% { -moz-transform: rotate(120deg) scale(0.35); left:40px; top:14px; width: 48px; height: 42px} 
}
@-webkit-keyframes logospin { 
    100% { -webkit-transform: rotate(120deg) scale(0.35); left:40px; top:14px; width: 48px; height: 42px } 
}
@keyframes logospin {
     100% {  
         -webkit-transform: rotate(120deg); transform: rotate(120deg); left:40px; top:14px; width: 48px; height: 42px;  
        }
}
@-moz-keyframes logospinback { 
    0%{left:40px; top:14px; width: 48px; height: 42px}
    100% { -moz-transform: rotate(-120deg); left:49px; top:7px; width: 118px; height: 104px;} 
}
@-webkit-keyframes logospinback { 
    0%{left:40px; top:14px; width: 48px; height: 42px}
    100% { -webkit-transform: rotate(-120deg); left:49px; top:7px; width: 118px; height: 104px;} 
}
@keyframes logospinback {
    0%{left:40px; top:14px; width: 48px; height: 42px}
     100% {  
         -webkit-transform: rotate(-120deg); transform: rotate(-120deg); left:49px; top:7px; width: 118px; height: 104px; 
        }
}
.Blogo{
    position: fixed;
    display: inline-block;
    top: 33px;
    left: 33px;
    width: 118px;
    height: 104px;
}
.P{
    position: relative;
    display: block;
    margin: auto;
    top: 75px;
    width: 800px;
    height: 800px;
    border: 4px groove #5B5B5B;
    background-image: url("gfx/bg_profile.png");
    background-size: cover;
    z-index: 3;
}
.Pcommitlog{
    overflow: auto;
    white-space: pre-wrap;
    width: 760px;
    height: 755px;
    position: absolute;
    color: white;
    font-size: 16px;
    position: fixed;
    display: inline-flex;
    padding: 20px;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.Pclose{
    position: absolute;
    display: block;
    top: 10px;
    right: 15px;
    width: 26px;
    height: 26px;
    opacity: 0.5;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #171717; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #434953; 
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4E5157; 
  }
  .S{
    position: relative;
    display: block;
    margin: auto;
    top: 75px;
    width: 1500px;
    height: 850px;
    border: 4px groove #5B5B5B;
    background-image: url("gfx/bg_profile.png");
    background-size: cover;
    z-index: 3;
}
.Sclose{
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    opacity: 0.5;
}
.I{
    opacity: 1;
    transition: opacity 0.5s;
}
.I.hide{
    opacity: 0;
}
.Itopbar{
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0px 10px 25px black;
    z-index: 1;
    border-bottom: 2px solid black;
}
.Isolo{
    position: absolute;
    left: 160px;
}
.Imatchmaking{
    position: absolute;
    left: 395px;
}
.Icollection{
    position: absolute;
    left: 630px;
}
.Ileadboard{
    position: absolute;
    left: 865px;
}
.Ibutton {
    position: absolute;
    height: 70px;
    width: 230px;
    border: 4px outset rgba(37,32,44,0.5);
    background-color: rgba(37,32,44,0.5);
    padding-top: 10px;
    text-align: center;
    -webkit-transform: skew(-30deg,0deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    transform: skew(-30deg);
    line-height: 60px;
}
.Ibutton:hover{
    text-shadow: 0px 0px 8px #487BD5, 0px 0px 8px #487BD5, 0px 0px 8px #487BD5;
}
.Ibuttonselected{
    background-color: rgba(37,32,44,0.5);
    background-image: url(../css/gfx/btnactive.png);
    text-shadow: 0px 0px 8px #487BD5, 0px 0px 8px #487BD5, 0px 0px 8px #487BD5;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}
.Itext{
    color: white;
    font-family: 'Radiance';
    font-weight: lighter;
    font-size: 26px;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    transform: skew(30deg);
}
.Iinnersolo{
    position: relative;
    display: block;
    margin: auto;
    top: 105px;
    width: 1040px;
    height: 880px;
    border-bottom: 2px solid black;
    box-shadow: 0px 0px 15px black;
    z-index: 3;
}
.Iinnersolobottom{
    position: absolute;
    width: 100%;
    height: 88px;
    bottom: 0px;
    background: linear-gradient(to top,#252130 0%,#1B182C 50%, #1F1D34 100%);
    align-items: center;
}
.Iinnersoloplay{
    color: white;
    font-family: 'Radiance';
    font-weight: lighter;
    font-size: 26px;
    position: absolute;
    width: 218px;
    height: 64px;
    margin: 12px;
    right: 0px;
    text-align: center;
    line-height:64px;
    background: linear-gradient(to top,#393F75 0%,#1F3046 50%, #2A7E90 100%);
}
.Iinnersoloplay:hover{
    text-shadow: 0px 0px 8px #38899B, 0px 0px 8px #38899B, 0px 0px 8px #38899B, 0px 0px 8px #38899B;
    background: linear-gradient(to top,#374577 0%,#2D5071 50%, #30A1C0 100%);
}