@font-face {
    font-family: 'Radiance Condensed';
    src: url('fonts/Radiance-RegularCondensed.eot');
    src: url('fonts/Radiance-RegularCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-RegularCondensed.woff2') format('woff2'),
        url('fonts/Radiance-RegularCondensed.woff') format('woff'),
        url('fonts/Radiance-RegularCondensed.ttf') format('truetype'),
        url('fonts/Radiance-RegularCondensed.svg#Radiance-RegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Black.eot');
    src: url('fonts/Radiance-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Black.woff2') format('woff2'),
        url('fonts/Radiance-Black.woff') format('woff'),
        url('fonts/Radiance-Black.ttf') format('truetype'),
        url('fonts/Radiance-Black.svg#Radiance-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Bold.eot');
    src: url('fonts/Radiance-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Bold.woff2') format('woff2'),
        url('fonts/Radiance-Bold.woff') format('woff'),
        url('fonts/Radiance-Bold.ttf') format('truetype'),
        url('fonts/Radiance-Bold.svg#Radiance-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Light.eot');
    src: url('fonts/Radiance-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Light.woff2') format('woff2'),
        url('fonts/Radiance-Light.woff') format('woff'),
        url('fonts/Radiance-Light.ttf') format('truetype'),
        url('fonts/Radiance-Light.svg#Radiance-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Regular.eot');
    src: url('fonts/Radiance-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Regular.woff2') format('woff2'),
        url('fonts/Radiance-Regular.woff') format('woff'),
        url('fonts/Radiance-Regular.ttf') format('truetype'),
        url('fonts/Radiance-Regular.svg#Radiance-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-UltraLight.eot');
    src: url('fonts/Radiance-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-UltraLight.woff2') format('woff2'),
        url('fonts/Radiance-UltraLight.woff') format('woff'),
        url('fonts/Radiance-UltraLight.ttf') format('truetype'),
        url('fonts/Radiance-UltraLight.svg#Radiance-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Semibold.eot');
    src: url('fonts/Radiance-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Semibold.woff2') format('woff2'),
        url('fonts/Radiance-Semibold.woff') format('woff'),
        url('fonts/Radiance-Semibold.ttf') format('truetype'),
        url('fonts/Radiance-Semibold.svg#Radiance-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Artifact Numbers';
    src: url('fonts/ArtifactNumbersBold.eot');
    src: url('fonts/ArtifactNumbersBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ArtifactNumbersBold.woff2') format('woff2'),
        url('fonts/ArtifactNumbersBold.woff') format('woff'),
        url('fonts/ArtifactNumbersBold.ttf') format('truetype'),
        url('fonts/ArtifactNumbersBold.svg#ArtifactNumbersBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
:root {
    /* Card Colors */
    --gray:  -webkit-linear-gradient(90deg,#5D6466,#5D6466); /* Also Colorless */
    --blue:  -webkit-linear-gradient(90deg,#0D3653,#175D87);
    --red:   -webkit-linear-gradient(90deg,#561926,#812739);
    --green: -webkit-linear-gradient(90deg,#3F6232,#4B733C);
    --black: -webkit-linear-gradient(90deg,#222026,#2D2A32);
    --gold:  -webkit-linear-gradient(90deg,#6E5D17,#6C5D1B); /*Item Cards*/
  }
  html{
    height: 100%;
    width: 100%;
  }
body{
    font-family: Radiance;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.boardbackground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    
}
.cardfont{
    font-family: Radiance Condensed; 
}
.gamearea{
    cursor: url("gfx/cursor.png"), auto;
    -webkit-user-drag: none;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    position: relative;
}
.separator1{
    position: fixed;
    top: 21%;
    left: 33.68%;
    height: 50%;
}
.separator2{
    position: fixed;
    top: 21%;
    left: 66.08%;
    height: 50%;
}
.player1manapools{
    position: fixed;
    bottom: 29%;
}
.player0manapools{
    position: fixed;
    top: 18.5%;
}
.manapool1{
    position: fixed;
    left: 31.58%;
}
.manapool2{
    position: fixed;
    left: 64.02%;
}
.manapool{
    text-align:center;
    position:inherit;
    height: 95px;
    width: 95px;
    background-color: #2F638E;
    border-radius: 50%;
    display: inline-block;
    font-family:  Artifact Numbers;
    font-size:40px;
    color: white;
    font-weight:bolder;
    line-height: 95px;
    text-align: center;
}
.manaamount{
    background-color: #5D6466;
    background: -webkit-linear-gradient(90deg,#4088C3, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p0impcontainer{
    position: fixed;
    top: 27%;
}
.p1impcontainer{
    position: fixed;
    bottom: 34%;
}
.imp1{
    position: absolute;
    left: 258.5px;
}
.imp2{
    position: absolute;
    left: 343.5px;
}
.imp3{
    position: absolute;
    left: 173.5px;
}
.imp4{
    position: absolute;
    left: 428.5px;
}
.imp5{
    position: absolute;
    left: 88.5px;
}
.imp6{
    position: absolute;
    left: 513.5px;
}
.imp7{
    position: absolute;
    left: 3.5px;
}
.impart{
    border-radius: 50%;
    height: 51px;
    width: 51px;
    top: 50%;
    left: 50%;
    transform: translate(2px, 0.4px);
}
.impshell{
    height: 66px;
    width: 66px;
    background-color: #787671;
    box-shadow:  -5px -6px 5px black;
    background: -webkit-linear-gradient(90deg,#56504F,#787671);
    border-radius: 50%;
    line-height: 95px;
}
.impshell2{
    height: 55px;
    width: 55px;
    background-color: #C4D3CC;
    box-shadow:  0px 0px 3px #56504F;
    border-radius: 50%;
    line-height: 95px;
    top: 50%;
    left: 50%;
    transform: translate(5.75px, 5.75px);
}
.player1towers{
    position: fixed;
    bottom: 26%;
}
.player0towers{
    position: fixed;
    top: 13%;
}
.outershell{
    height: 120px;
    width: 120px;
    color: #f2f2f2;
    font-size:48px;
    background-color: #9E9E9E;
    font-family:  Artifact Numbers;
    background-image:linear-gradient(90deg, transparent 50%, #2D2D2D 0);
    border-radius: 50%;
    line-height: 95px;
}
.outershell::before {
    content: "";
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(.0turn);
  }
.tower{
    text-align:center;
    position:inherit;
    height: 95px;
    width: 95px;
    font-size:48px;
    background-color: #2D2D2D;
    border-radius: 50%;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(12.5%, -112.5%);
}
.tower1{
    position: fixed;
    left: 282.5px;
}
.tower2{
    position: fixed;
    left: 47.25%;
}
.tower3{
    position: fixed;
    left: 79.40%;
}

.p0board{
    position: fixed;
    width: 100%;
    height: 120px;
    top: 36%;
    left: 0%;
}
.p1board{
    position: fixed;
    width: 100%;
    height: 120px;
    top:52.2%;
    left: 0%;
}
.c1{
    cursor: url("gfx/cursor.png"), auto;
    position: fixed;
    top: 25%;
    width:700px;
    height: 550px;
    z-index: 1;
}
.c2{
    cursor: url("gfx/cursor.png"), auto;
    position: fixed;
    left: 32%;
    top: 25%;
    width:700px;
    height: 550px;
    z-index: 1;
}
.c3{
    cursor: url("gfx/cursor.png"), auto;
    position: fixed;
    left: 65%;
    top: 25%;
    width:700px;
    height: 550px;
    z-index: 1;
}
.combat1{
    position:relative;
    left: 2.5%;
}
.combat2{
    position: relative;
    left: 35%;
}
.combat3{
    position: relative;
    left: 67.25%;
}
.slot1{
    position: absolute;
}
.slot2{
    position: absolute;
    left: 85px;
}
.slot3{
    position: absolute;
    left: 170px;
}
.slot4{
    position: absolute;
    left: 255px;
}
.slot5{
    position: absolute;
    left: 340px;
}
.slot6{
    position: absolute;
    left: 425px;
}
.slot7{
    position: absolute;
    left: 510px;
}
.playerarea{
    color: white;
    font-size:24px;
    text-shadow: 0px 0px 4px black;
    width: 150px;
    height: 37.5px;
    text-align:center;
    line-height: 37.5px;
    border-style: solid;
}
.Player1Area{
    position: fixed;
    bottom: 2.5%;
    left: 2.5%;
    background: linear-gradient(to left,#4088C3,#2F5571 );
}
.Player0Area{
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    background: linear-gradient(to left,#C69B99,#7B5E5D );
}
.p1goldcontainer{
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
}
.p0goldcontainer{
    position: fixed;
    top: 2.5%;
    left: 2.5%;
}
.goldamount{
    font-size: 38px;
    font-weight:bolder;
    position: absolute;
    text-align:center;
    font-family:  Artifact Numbers;
    background: -webkit-linear-gradient(90deg,#FFCC00, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardbackground{
    border-radius: 2.5px;
    position: relative;
    background-color: #5D6466;
    background: var(--gray);
    width: 77px;
    height: 120px;
    color: black;
    box-shadow:  -3px -4px 5px black;
}
.cardart{
    position: absolute;
    top:6px;
    width: 77px;
    height: 98px;
}
.cardabilities{
    position: absolute;
    top: 75px;
    left: 1px;
    z-index: 1;
}
.cardsecondab{
    position: absolute;
    left: 21px;
}
.cardabiconback{
    position: absolute;
    width: 20px;
    height: 20px
}
.cardabicon{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px
}
.bottomofthecard{
    position: absolute;
    top:98px; 
    font-size: 18px;
    font-weight:bolder;
    font-family:  Artifact Numbers;
    z-index: 2;
}
.attackcontainer{
    position: absolute;
    top: 14px;
    left: 7px;
    text-align: center;
}
.armorcontainer{
    position: absolute;
    top: 14px;
    left: 35px;
    text-align: center;
}
.healthcontainer{
    position: absolute;
    top: 14px;
    left: 64px;
    text-align: center;
}
.varicon{
    position: absolute;
    white-space: nowrap;
    width: 37px;
    height: 37px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.attack{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.armor{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.health{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hand{
    position: fixed;
    bottom: 12%; /*12%*/
    left: 45%;
    z-index: 1;
}
.handslot1{
    position: absolute;
    z-index: 6;
}
.handslot2{
    position: absolute;
    left: 7em;
    z-index: 7;
}
.handslot3{
    position: absolute;
    left: -7em;
    z-index: 5;
}
.handslot4{
    position: absolute;
    z-index: 8;
    left: 14em;
}
.handslot5{
    position: absolute;
    z-index: 4;
    left: -14em;
}
.handslot6{
    position: absolute;
    z-index: 9;
    left: 21em;
}
.handslot7{
    position: absolute;
    z-index: 3;
    left: -21em;
}
.handslot8{
    position: absolute;
    z-index: 10;
    left: 28em;
}
.handslot9{
    position: absolute;
    z-index: 2;
    left: -28em;
}
.handslot10{
    position: absolute;
    z-index: 11;
    left: 35em;
}
.handslot11{
    position: absolute;
    z-index: 1;
    left: -35em;
}
.handslot12{
    position: absolute;
    z-index: 12;
    left: 42em;
}
.handslot1:hover,.handslot2:hover,.handslot3:hover,.handslot4:hover,.handslot5:hover,
.handslot6:hover,.handslot7:hover,.handslot8:hover,.handslot9:hover,.handslot10:hover,
.handslot11:hover,.handslot12:hover{
    z-index: 13;
}
.handcardbackground:hover{
    bottom: 10em;
}
.handcardbackground{
    border-radius: 5px;
    position: relative;
    background: #175D87;
    background: var(--gold);
    box-shadow:  -3px -4px 5px black;
    width: 172px;
    height: 290px;
    color: black;
    
}
.handcardart{
    position: absolute;
    top:25px;
    left: 1px;
    width: 170px;
    height: 220px;
}
.handabilities{
    position: absolute;
    top: 190px;
    left: 10px;
}
.handsecondab{
    position: absolute;
    left: 58px;
}
.handabiconback{
    position: absolute;
    width: 48px;
    height: 48px
}
.handabicon{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 42px;
    height: 42px
}
.handiconback{
    position: absolute;
    width: 24px;
    height: 24px;
}
.handcardmanacost{
    position: absolute;
    display: inline-block;
    font-family:  Artifact Numbers;
    line-height: 22px;
    text-align:center;
    height: 24px;
    width: 37px;
    left: -7px;
    color: white;
    text-shadow: 0px 0px 4px black;
    font-size: 36px;
}
.handcardgoldcost{
    position: absolute;
    display: inline-block;
    background-image: url(gfx/cardstat_goldcost.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 36px;
    width: 36px;
    top:160px;
    left: 36%;
    z-index: 1;
    font-size: 20px;
    align-items: center;
    line-height: 40px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4px black;
}
.handcardeffect{
    background-image: url(gfx/cardcreep_translucent.png);
    position: absolute;
    bottom: 45px;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 14px;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-shadow: 0px 0px 4px black;
    text-align: center;
}
.handicon{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px
}
.handcardname{
    white-space: nowrap;
    position: absolute;
    margin-right: 20px;
    text-shadow: 0px 0px 4px black;
    font-size: 22px;
    top: 1px;
    left: 30px;
    color: #EAEAEA;
    font-family: Radiance Condensed;
}
.handbottomofthecard{
    position: absolute;
    top:252px; 
    left:  40px;
    font-size: 24px;
    text-shadow: 0px 0px 4px black;
    color:#EAEAEA;
    font-family: Radiance; 
    font-weight: normal;
    text-align: left;
}
.handattackcontainer{
    position: absolute;
    top: 14px;
    left: 2px;
}
.handarmorcontainer{
    position: absolute;
    top: 14px;
    left: 56px;
}
.handhealthcontainer{
    position: absolute;
    top: 14px;
    left: 110px;
}
.handvaricon{
    position: absolute;
    white-space: nowrap;
    width: 20px;
    height: 20px;
    top: 0.64px;
    left: -21px;
    transform: translate(-50%, -50%);
}
.handattack{
    position: absolute;
    text-align:right;
    width: auto;
    height: auto;
    top: -14px;
    left: -13px;
}
.handarmor{
    position: absolute;
    text-align:right;
    width: auto;
    height: auto;
    top: -14px;
    left: -13px;
}
.handhealth{
    position: absolute;
    text-align:right;
    width: auto;
    height: auto;
    top: -14px;
    left: -13px;
}