@font-face {
    font-family: 'Radiance Condensed';
    src: url('fonts/Radiance-RegularCondensed.eot');
    src: url('fonts/Radiance-RegularCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-RegularCondensed.woff2') format('woff2'),
        url('fonts/Radiance-RegularCondensed.woff') format('woff'),
        url('fonts/Radiance-RegularCondensed.ttf') format('truetype'),
        url('fonts/Radiance-RegularCondensed.svg#Radiance-RegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Black.eot');
    src: url('fonts/Radiance-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Black.woff2') format('woff2'),
        url('fonts/Radiance-Black.woff') format('woff'),
        url('fonts/Radiance-Black.ttf') format('truetype'),
        url('fonts/Radiance-Black.svg#Radiance-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Bold.eot');
    src: url('fonts/Radiance-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Bold.woff2') format('woff2'),
        url('fonts/Radiance-Bold.woff') format('woff'),
        url('fonts/Radiance-Bold.ttf') format('truetype'),
        url('fonts/Radiance-Bold.svg#Radiance-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Light.eot');
    src: url('fonts/Radiance-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Light.woff2') format('woff2'),
        url('fonts/Radiance-Light.woff') format('woff'),
        url('fonts/Radiance-Light.ttf') format('truetype'),
        url('fonts/Radiance-Light.svg#Radiance-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Regular.eot');
    src: url('fonts/Radiance-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Regular.woff2') format('woff2'),
        url('fonts/Radiance-Regular.woff') format('woff'),
        url('fonts/Radiance-Regular.ttf') format('truetype'),
        url('fonts/Radiance-Regular.svg#Radiance-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-UltraLight.eot');
    src: url('fonts/Radiance-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-UltraLight.woff2') format('woff2'),
        url('fonts/Radiance-UltraLight.woff') format('woff'),
        url('fonts/Radiance-UltraLight.ttf') format('truetype'),
        url('fonts/Radiance-UltraLight.svg#Radiance-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Semibold.eot');
    src: url('fonts/Radiance-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Semibold.woff2') format('woff2'),
        url('fonts/Radiance-Semibold.woff') format('woff'),
        url('fonts/Radiance-Semibold.ttf') format('truetype'),
        url('fonts/Radiance-Semibold.svg#Radiance-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: Radiance;
}
.cardfont{
    font-family: Radiance Condensed;
}
.board{
    background-image: url("gfx/artifactboard.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0px; /* Header*/
    left: 0px;
    right: 0px;
    bottom: 0px; /* Footer */
}
.p0board{
    position: fixed;
    display: block;
    top: 58%;
}
.p1board{
    position: fixed;
    display: block;
    top: 58%;
}
.combat1{
    position: fixed;
    display: block;
    left: 2.5%;
}
.combat2{
    position: fixed;
    display: block;
    left: 38.25%;
}
.combat3{
    position: fixed;
    display: block;
    left: 73.75%;
}
.slot1{
    position: absolute;
}
.slot2{
    position: absolute;
    left: 67.5px;
}
.slot3{
    position: absolute;
    left: 135px;
}
.slot4{
    position: absolute;
    left: 202.5px;
}
.slot5{
    position: absolute;
    left: 270px;
}
.slot6{
    position: absolute;
    left: 337.5px;
}
.slot7{
    position: absolute;
    left: 405px;
}
.cardbackground{
    display: block;
    border-radius: 2.5px;
    background: #575756;
    width: 58px;
    height: 90px;
    color: black;
}
.cardart{
    position: absolute;
    top:6px;
    width: 58px;
    height: 74px;
}
.cardname{
    position: absolute;
    font-size: 8px;
    left: 10px;
}
.bottomofthecard{
    position: absolute;
    top:68px; 
    font-size: 14px;
    font-weight: bold;
    
}
.attackcontainer{
    position: absolute;
    top: 14px;
    left: 6px;
    text-shadow: 0 0 2px white;
    text-align: center;
}
.armorcontainer{
    position: absolute;
    top: 14px;
    left: 27.25px;
    text-shadow: 0 0 2px white;
    text-align: center;
}
.healthcontainer{
    position: absolute;
    top: 14px;
    left: 50px;
    text-shadow: 0 0 2px white;
    text-align: center;
}
.varicon{
    position: absolute;
    white-space: nowrap;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.attack{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.armor{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.health{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}