@font-face {
    font-family: 'Radiance Condensed';
    src: url('fonts/Radiance-RegularCondensed.eot');
    src: url('fonts/Radiance-RegularCondensed.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-RegularCondensed.woff2') format('woff2'),
        url('fonts/Radiance-RegularCondensed.woff') format('woff'),
        url('fonts/Radiance-RegularCondensed.ttf') format('truetype'),
        url('fonts/Radiance-RegularCondensed.svg#Radiance-RegularCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Black.eot');
    src: url('fonts/Radiance-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Black.woff2') format('woff2'),
        url('fonts/Radiance-Black.woff') format('woff'),
        url('fonts/Radiance-Black.ttf') format('truetype'),
        url('fonts/Radiance-Black.svg#Radiance-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Bold.eot');
    src: url('fonts/Radiance-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Bold.woff2') format('woff2'),
        url('fonts/Radiance-Bold.woff') format('woff'),
        url('fonts/Radiance-Bold.ttf') format('truetype'),
        url('fonts/Radiance-Bold.svg#Radiance-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Light.eot');
    src: url('fonts/Radiance-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Light.woff2') format('woff2'),
        url('fonts/Radiance-Light.woff') format('woff'),
        url('fonts/Radiance-Light.ttf') format('truetype'),
        url('fonts/Radiance-Light.svg#Radiance-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Regular.eot');
    src: url('fonts/Radiance-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Regular.woff2') format('woff2'),
        url('fonts/Radiance-Regular.woff') format('woff'),
        url('fonts/Radiance-Regular.ttf') format('truetype'),
        url('fonts/Radiance-Regular.svg#Radiance-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-UltraLight.eot');
    src: url('fonts/Radiance-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-UltraLight.woff2') format('woff2'),
        url('fonts/Radiance-UltraLight.woff') format('woff'),
        url('fonts/Radiance-UltraLight.ttf') format('truetype'),
        url('fonts/Radiance-UltraLight.svg#Radiance-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radiance';
    src: url('fonts/Radiance-Semibold.eot');
    src: url('fonts/Radiance-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Radiance-Semibold.woff2') format('woff2'),
        url('fonts/Radiance-Semibold.woff') format('woff'),
        url('fonts/Radiance-Semibold.ttf') format('truetype'),
        url('fonts/Radiance-Semibold.svg#Radiance-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Artifact Numbers';
    src: url('fonts/ArtifactNumbersBold.eot');
    src: url('fonts/ArtifactNumbersBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/ArtifactNumbersBold.woff2') format('woff2'),
        url('fonts/ArtifactNumbersBold.woff') format('woff'),
        url('fonts/ArtifactNumbersBold.ttf') format('truetype'),
        url('fonts/ArtifactNumbersBold.svg#ArtifactNumbersBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: Radiance;
}
.cardfont{
    font-family: Radiance Condensed; 
}
.gamearea{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  
    position: relative;
    overflow: hidden;
}
.board{
    
}
.boardbackground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    
}
.separator1{
    position: fixed;
    top: 21%;
    left: 33.68%;
    height: 50%;
}
.separator2{
    position: fixed;
    top: 21%;
    left: 66.08%;
    height: 50%;
}
.player1towers{

}
.tower{
    
}
.tower1{

}
.p0board{
    position: fixed;
    width: 100%;
    height: 120px;
    top: 36%;
    left: 0%;
}
.p1board{
    position: fixed;
    width: 100%;
    height: 120px;
    top:52.2%;
    left: 0%;
}
.combat1{
    position:fixed;
    left: 2.5%;
}
.combat2{
    position: fixed;
    left: 35%;
}
.combat3{
    position: fixed;
    left: 67.25%;
}
.slot1{
    position: absolute;
}
.slot2{
    position: absolute;
    left: 85px;
}
.slot3{
    position: absolute;
    left: 170px;
}
.slot4{
    position: absolute;
    left: 255px;
}
.slot5{
    position: absolute;
    left: 340px;
}
.slot6{
    position: absolute;
    left: 425px;
}
.slot7{
    position: absolute;
    left: 510px;
}
.playerarea{
    color: white;
    font-size:24px;
    text-shadow: 0px 0px 4px black;
    width: 150px;
    height: 37.5px;
    text-align:center;
    line-height: 37.5px;
    border-style: solid;
   
}
.Player1Area{
    position: fixed;
    bottom: 2.5%;
    left: 2.5%;
    background: linear-gradient(to left,#4088C3,#2F5571 );
}
.Player0Area{
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    background: linear-gradient(to left,#C69B99,#7B5E5D );
}
.p1goldcontainer{
    position: fixed;
    bottom: 2.5%;
    right: 2.5%;
}
.p0goldcontainer{
    position: fixed;
    top: 2.5%;
    left: 2.5%;
}
.goldamount{
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    text-align:center;
    background: -webkit-linear-gradient(90deg,#FFCC00, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardbackground{
    border-radius: 2.5px;
    position: relative;
    background: #575756;
    width: 77px;
    height: 120px;
    color: black;
    box-shadow:  -3px -4px 5px black;
}
.cardart{
    position: absolute;
    top:6px;
    width: 77px;
    height: 98px;
}
.cardname{
    position: absolute;
    font-size: 8px;
    left: 10px;
}
.bottomofthecard{
    position: absolute;
    top:98px; 
    font-size: 18px;
    font-weight: bold;
    font-family:  Artifact Numbers;
}
.attackcontainer{
    position: absolute;
    top: 14px;
    left: 7px;
    text-align: center;
}
.armorcontainer{
    position: absolute;
    top: 14px;
    left: 35px;
    text-align: center;
}
.healthcontainer{
    position: absolute;
    top: 14px;
    left: 64px;
    text-align: center;
}
.varicon{
    position: absolute;
    white-space: nowrap;
    width: 37px;
    height: 37px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.attack{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.armor{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.health{
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}